In [9]:
# Run this cell before continuing.
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)

In [ ]:
# setwd("/home/jovyan/work/project")

In [29]:
crime_data <- read_csv("data/crimedata_csv_AllNeighbourhoods_2022.csv")
head(crime_data)

Rows: 34281 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2022 1      3  16   19     10XX ALBERNI ST
2 Break and Enter Commercial 2022 6     17   5   16     10XX ALBERNI ST
3 Break and Enter Commercial 2022 3     15   5   14     10XX ALBERNI ST
4 Break and Enter Commercial 2022 3     19   6   42     10XX ALBERNI ST
5 Break and Enter Commercial 2022 2     23  23    0     10XX BALFOUR AVE
6 Break and Enter Commercial 2022 2     25  10   15     10XX BALFOUR AVE
  NEIGHBOURHOOD X        Y
1 West End      491036.1 5459146
2 West End      491067.3 5459115
3 West End      491102.2 5459092
4 West End      491102.2 5459092
5 Shaughnessy   490699.8 5455444
6 Shaughnessy   490699.8 5455444